
html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
  min-width: 320px;
  min-height: 100%;
  font-family:"", sans-serif;
  line-height: 1.2;
  // color: $textColor;
}

.body--hidden {
  overflow: hidden;
  margin-right: 1rem;
}


.header {
  flex: 0 0 auto;
 }
 
 .page {
   flex: 1 0 auto;
 
 }
 .footer {
   flex: 0 0 auto;
 }
 

.container {
  
}